{% extends 'base_credential.html' %} {% block signupform %}
{% block title %}otp verification{% endblock title %}





  <form action="/credential/verification/" method="POST">
    {% csrf_token %}

    <div class="card text-center mb-3" style="width: 26rem;">
        <div class="card-body">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        {% comment %} <link rel="stylesheet" href="/static/assets/css/otp.css"> {% endcomment %}
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to</span> <small>{{email}}</small> </div>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                     <input class="m-2 text-center form-control rounded" name='otp1' type="text" id="first" maxlength="1" />
                      <input class="m-2 text-center form-control rounded" name='otp2' type="text" id="second" maxlength="1" />
                       <input class="m-2 text-center form-control rounded" name='otp3' type="text" id="third" maxlength="1" />
                        <input class="m-2 text-center form-control rounded" name='otp4' type="text" id="fourth" maxlength="1" />
                         <input class="m-2 text-center form-control rounded" name='otp5' type="text" id="fifth" maxlength="1" /> 
                         <input class="m-2 text-center form-control rounded" name='otp6' type="text" id="sixth" maxlength="1" />
                         </div>
                <div class="mt-4"> <button class="btn btn-danger px-4 validate">Validate</button> </div>
            </div>
        </div>
  </form>
</div>
</div>
{% endblock signupform %}




