{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}{% endblock title %}
  </title>
  <meta content="we are ecommerce website to searve goods" name="description">
  <meta content="ecommerce" name="amazon,flipkart,snapdeal">

  <!-- Favicons -->
  <link href="{%static '/assets/img/favicon.png'%}" rel="icon">
  <link href="{%static '/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static '/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static '/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static '/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static '/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static '/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static '/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css'%}" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="{%static '/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Tempo
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      
      <a href="/" class="logo"><img src="{%static '/images/logo.png'%}" alt=" class="img-fluid">Shop cart</a>
      {% comment %} <h1 class="logo"><a href="index.html">Shop cart</a></h1> {% endcomment %}

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/checkout">Checkout</a></li>

          <button type="button" class="nav-link scrollto bg-dark p-3 m-2 text-white" id="popcart" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="Top popover">
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
            Cart(<span id='cart'>0</span>)
            
            </button>


          {% if request.user.is_authenticated %}
          <li><a href="/credential/logout">Logout</a></li>
          {% else %}
          <li class="dropdown"><a href="#"><span>Sign in</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/credential/signup">Sign up</a></li>
              <li><a href="/credential/login">Login</a></li>
            </ul>
          </li>
          {% endif %}

          





          
          <li><a class="nav-link scrollto bg-dark p-3 m-2" href="/#contact">Contact</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      {% block hero %}
      
      
      {% endblock hero %}
    </div>
  </section><!-- End Hero -->

  <main id="main">

    {% block body %}
    





    {% endblock body %}

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static '/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static '/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static '/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static '/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static '/assets/js/main.js'%}"></script>

</body>

</html>